.gitignore
/s02e01/nbproject/private/
/s02e01/build/
/caelum
/s02e02/nbproject/private/
/s02e02/build/
/s03e01/nbproject/private/
/s03e01/build/
/S03E02/nbproject/private/
/s04e01/nbproject/private/
/s04e01 - Projeto 1/nbproject/private/
/s04e01 - Projeto 1/build/
/s04e01_Projeto1/build/
/s05_Projeto-2/nbproject/private/
/s05e01/nbproject/private/
/s05e01/build/
/s05_Projeto-2/build/
/s05e02/build/
/s09e01 - Projeto Agencia/nbproject/private/
/s09e01 - Projeto Agencia/build/
/S11 - Agiota/nbproject/private/
/S11 - Agiota/build/
/s10e01/nbproject/private/
/s10e01/build/
/s12e02_hospital/nbproject/private/
/s13 - Whatsapp/nbproject/private/
/s13 - Whatsapp/build/
/s13 - Whatsapp v2/nbproject/private/
/s13 - Twitter/nbproject/private/
/s05 - Lapiseira mais grafites/nbproject/private/
/s11 - Matricula/nbproject/private/
/s11 - Matricula/build/
/s13 - Twitter/build/